<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CWW
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat With Websockets</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bem vindo ao Chat With Websockets!</strong>
    <p>Criador ->Rafael Monteiro! <br>
      Vou ter que ler muito isso -><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button (click)="redirectToRegistro()">Registre-se</ion-button>
    <ion-button (click)="redirectToLogin()">Login</ion-button>
  </div>
</ion-content>
