<ion-header>
  <br><br>
 <h2 style="color: whitesmoke; font-weight: bold; font-family: 'Montserrat';">&nbsp;Comece </h2>
 <h2 style="color: green; font-weight: bolder; font-family: 'Montserrat'">&nbsp;&nbsp; com tudo!</h2>
 <div class="alienImagem">
  <ion-img style="width: 60px; height: 60px;" src="/assets/images/LogoMakr-7OPp7B.png"></ion-img>
 </div>

</ion-header>
<ion-content>
 
  <form (ngSubmit)="submit(form)" #form="ngForm" name="form">
    <br>
    <ion-item>
      <ion-label position="floating" [ngStyle]="{'color' : (nomeUsuario.valid) ? '#77DD77' : 'red'}">Apelido: </ion-label>
      <ion-input #nomeUsuario="ngModel" name="nomeUsuario" (ionChange)="putIdentificator(usuario.username)" (ionBlur)="removeWhiteSpaces(usuario.username)" [(ngModel)]="usuario.username" [ngStyle]="{'border-color' : (!nomeUsuario.valid) ? 'red' : '#77DD77' }">
       <ion-icon *ngIf="usuario.username?.length > 0" name="person-outline"></ion-icon>
      </ion-input>
      <span *ngIf="!nomeUsuario.valid">
        O campo apelido é obrigatorio!
      </span>
    </ion-item>

    <ion-item>
      <ion-label position="floating" [ngStyle]="{'color' : (emailUsuario.valid) ? '#77DD77' : 'red'}">Email: </ion-label>
      <ion-input #emailUsuario="ngModel" 
      pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
      type="email" name="emailUsuario" [(ngModel)]="usuario.email" [ngStyle]="{'border-color' : (!emailUsuario.valid) ? 'red' : '#77DD77' }">
        <span *ngIf="!nomeUsuario.valid">
          O campo de email é obrigatorio!
        </span>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" [ngStyle]="{'color' : (senhaUsuario.valid) ? '#77DD77' : 'red'}">Senha: </ion-label>
      <ion-input #senhaUsuario="ngModel" type="password" name="senhaUsuario" [(ngModel)]="usuario.password" [ngStyle]="{'border-color' : (!senhaUsuario.valid) ? 'red' : '#77DD77' }">
        <span *ngIf="!senhaUsuario.valid">
          O campo de email é obrigatorio!
        </span>
      </ion-input>
    </ion-item>
    <ion-item *ngIf = "usuario.password">
      <ion-label position="floating" [ngStyle]="{'color' : (confirmacaoPassword === '' || usuario.password === confirmacaoPassword) ? '#77DD77' : 'red'}">Confirmação de Senha: </ion-label>
      <ion-input #confirmacaoSenha="ngModel" type="password" name="confirmacaoSenha" [(ngModel)]="confirmacaoPassword" [ngStyle]="{'border-color' : (!confirmacaoSenha.valid) ? 'red' : '#77DD77' }">
      </ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" fill="outline" style="--border-color: green; --color: green; margin-left: 25%;" [disabled]="!usuario.username|| !usuario.password || (confirmacaoSenha!== undefined || confirmacaoPassword !== usuario.password) || !usuario.email">Registrar!</ion-button>
  </form>
</ion-content>
